@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/* VARIABLES */

:root {
  --first-color: #97a1cf;
  --second-color: #565f8a;
  --third-color: #464c70;
  --fourth-color: #353a53;
  --fifth-color: #25293b;
}

/* BASE STYLES */

* {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-size: 1.2rem;
}
input {
  outline: none;
  color: white;
  background-color: var(--fourth-color);
  border: 1px solid var(--second-color);
  padding: 5px 10px;
}
input::placeholder {
  color: var(--first-color);
}
.clear-search {
  border: none !important;
  background-color: transparent;
  color: var(--first-color);
  margin: 0 !important;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.clear-search:hover {
  background-color: var(--third-color);
}
.button1 {
  background-color: var(--fifth-color);
  padding: 5px 10px;
  color: white;
  border: 1px solid var(--second-color);
  cursor: pointer;
}
.button1:hover {
  background-color: var(--third-color);
}
.button2 {
  background-color: var(--fourth-color);
  border: none;
  padding: 5px 10px;
  color: var(--first-color);
  border-left: 1px solid var(--second-color);
  cursor: pointer;
}
.button2:hover {
  background-color: var(--third-color);
}
.selected-button {
  background-color: var(--second-color) !important;
  color: white !important;
  border: none;
  padding: 5px 10px;
  border-left: 1px solid var(--second-color);
  cursor: pointer;
}
.button3 {
  border: none;
  background-color: transparent;
  color: var(--first-color);
  cursor: pointer;
  padding: 0;
}
.button3:hover {
  color: white;
}
button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* HEADER */

.header * {
  font-size: 1.6rem;
}
.header {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid white;
  background-color: #191c29;
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.2));
  height: 20vh;
  color: white;
}
.header img {
  height: 100%;
}
.header div {
  width: 500px;
}
.header-left {
  display: flex;
  justify-content: space-between;
}
.header-right {
  text-align: right;
}
.login-link {
  margin-right: 10px;
}
.register-link {
  margin-left: 10px;
}
.home-link,
.login-link,
.register-link,
.compositions-link {
  text-decoration: none;
  color: var(--first-color);
}
.home-link:hover,
.login-link:hover,
.register-link:hover,
.compositions-link:hover {
  color: white;
}

/* MIDDLE PAGE */

.body,
.login,
.register,
.compositions {
  background-color: var(--fifth-color);
  padding: 40px;
  min-height: 60vh;
  color: white;
}
.body {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
.register,
.login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-form,
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-form input,
.login-form input {
  margin-top: 20px;
}
.register-form button,
.login-form button {
  margin-top: 20px;
}

/* FOOTER */

.footer * {
  font-size: 1.6rem;
}
.footer {
  padding: 20px;
  background-color: #161616;
  border-top: 1px solid white;
  filter: drop-shadow(0px -8px 8px rgba(0, 0, 0, 0.2));
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer img {
  height: 70px;
  filter: invert(1);
  display: flex;
}

/* LOADING & ERROR */

.loading, .error {
  grid-column: 2 / 3;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAME AND TRAITS */

.name-and-traits {
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
}
.comp-div {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.comp-div input {
  width: 100%;
  margin-right: 10px;
}
.traits {
  max-height: 770px;
  overflow-y: auto;
  scroll-margin-left: 20px;
}
.no-traits {
  border: 1px solid var(--second-color);
  background-color: var(--fourth-color);
  color: var(--first-color);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.trait {
  border: 1px solid var(--second-color);
  background-color: var(--fourth-color);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.trait img {
  padding: 20px;
  border-right: 1px solid var(--second-color);
}
.trait-info {
  margin-left: 10px;
  font-size: 1rem;
}
.trait-info span, .trait-info b {
  font-size: 1rem !important;
}
.trait-count {
  margin-left: auto;
  margin-right: 30px;
}
.traits::-webkit-scrollbar {
  width: 10px;
}
.traits::-webkit-scrollbar-track {
  background: var(--fourth-color);
}
.traits::-webkit-scrollbar-thumb {
  background: var(--second-color);
}

/* BUTTONS AND ITEMS */

.buttons-and-items {
  grid-column: 3;
  grid-row: 1 / 3;
}
.buttons-and-items button {
  margin-bottom: 20px;
}
.clear-buttons {
  display: flex;
  flex-direction: column;
}
.items-array {
  border: 1px solid var(--second-color);
  background-color: var(--fourth-color);
}
.sort-items {
  border-bottom: 1px solid var(--second-color);
  display: flex;
}
.sort-items input {
  border: none;
  flex-grow: 1;
}
.items {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.item-card {
  display: flex;
  padding: 5px;
}
.item-card img {
  width: 40px;
  cursor: pointer;
  border: 1px solid var(--second-color);
}

/* CHAMPION ARRAY */

.champion-array {
  border: 1px solid var(--second-color);
  background-color: var(--fourth-color);
  grid-column: 2;
  margin-left: 40px;
  margin-right: 40px;
}
.sort-champions {
  border-bottom: 1px solid var(--second-color);
  display: flex;
}
.sort-champions input {
  flex-grow: 1;
  border: none;
}
.sort-buttons {
  display: flex;
}
.champions {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  max-width: 864px;
}
.champion-card {
  display: flex;
  padding: 5px;
}
.champion-card img {
  width: 60px;
  cursor: pointer;
}

/* CHAMPION INFO */

.champion-info {
  border: 1px solid var(--second-color);
  background-color: var(--fifth-color);
  display: flex;
}
.champion-info-img {
  border-right: 1px solid var(--second-color);
  padding: 20px;
  text-align: center;
}
.champion-info-img img {
  border: 1px solid var(--second-color);
  width: 80px;
}
.champion-info-traits {
  border-right: 1px solid var(--second-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.champion-info-trait {
  display: flex;
}
.champion-info-trait img {
  width: auto;
  margin-right: 10px;
}
.champion-info-cost {
  padding: 20px;
  display: flex;
  align-items: center;
}
.champion-info-cost img {
  width: 100%;
  margin-left: 10px;
}

/* BOARD */

.board {
  display: flex;
  flex-wrap: wrap;
  max-width: 825px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* HEXAGON */

.hexagon {
  position: relative;
}
.hexagon-border {
  display: flex;
  width: 100px;
  height: 110px;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin: -7.5px 5px -7.5px;
  justify-content: center;
  align-items: center;
}
.hexagon-image {
  width: 94px;
  height: 103.4px;
  background-color: var(--fourth-color);
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  cursor: pointer;
  user-select: none;
}
.hexagon-image img {
  width: 110%;
  height: 100%;
}
.stars {
  position: absolute;
  cursor: pointer;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 3px 3px 5px black;
  user-select: none;
}
.champion-items {
  position: absolute;
  cursor: pointer;
  display: flex;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}
.champion-item-icon {
  width: 20px;
  border: 1px solid var(--second-color);
}

/* COMPOSITIONS */

.compositions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.composition-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.composition-card-block {
  padding: 15px;
  border: 1px solid var(--second-color);
  width: 496px;
  background-color: var(--fourth-color);
}
.composition-card-block p {
  margin: 5px 5px 15px;
}
.composition-images {
  display: flex;
  flex-wrap: wrap;
}
.composition-card-block img {
  width: 50px;
  margin: 5px;
}
.composition-card button {
  margin-left: 20px;
}
.pagination {
  margin-top: auto;
}
.pagination button {
  margin-right: 20px;
}